@font-face {
  font-family: 'Sukhumvit-Bold';
  src: url('../font/SukhumvitSet-Bold.woff2') format('woff2'),
    url('../font/SukhumvitSet-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Sukhumvit-SemiBold';
  src: url('../font/SukhumvitSet-SemiBold.woff2') format('woff2'),
    url('../font/SukhumvitSet-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Sukhumvit-Medium';
  src: url('../font/SukhumvitSet-Medium.woff2') format('woff2'),
    url('../font/SukhumvitSet-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Sukhumvit-Thin';
  src: url('../font/SukhumvitSet-Thin.woff2') format('woff2'),
    url('../font/SukhumvitSet-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Sukhumvit-Light';
  src: url('../font/SukhumvitSet-Light.woff2') format('woff2'),
    url('../font/SukhumvitSet-Light.woff') format('woff');
}

@font-face {
  font-family: 'Sukhumvit';
  src: url('../font/SukhumvitSet-Text.woff2') format('woff2'),
    url('../font/SukhumvitSet-Text.woff') format('woff');
}

@font-face {
  font-family: 'RunWild';
  src: url('../font/RunWild.woff2') format('woff2'),
    url('../font/RunWild.woff') format('woff');
}

@font-face {
  font-family: 'Chonburi';
  src: url('../font/Chonburi-Regular.woff2') format('woff2'),
    url('../font/Chonburi-Regular.woff') format('woff');
}
