body {
  overflow: hidden;
  overflow-y: auto;
  font-size: 110%;
  color: $blue-400;
  background: rgba(0, 0, 0, 0.015);
  font-family: 'Crimson Text', 'Kanit';
}

*,
*:focus,
*:hover {
  outline: none !important;
  appearance: none;
}

.bio-checkbox:not(.-switch) > label:after {
  height: 7px;
  width: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: 400;
  line-height: 100%;
  outline: none !important;
  user-select: none !important;
}

._ff-ds {
  font-family: 'Dancing Script';
}

h1 {
  font-size: 4rem;
}

._cs-pt {
  user-select: none !important;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.min-height-100vh {
  min-height: calc(100vh - 60px); // background: rgba(0, 0, 0, 0.02);
}

// Deprecated due to incompat with older browsers
// ._fdrt-rrv {
//   flex-direction: row-reverse !important;
// }

[lazy] {
  transition: 0.25s;
  transition-property: background-image !important;
  // background-size: 100px;
}

[lazy='loading'] {
  background-size: 200px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

[lazy='loaded'] {
  opacity: 1;
  // background-size: 50px;
}

// Min height
._mnh-128px {
  min-height: 128px !important;
}

._mnh-256px {
  min-height: 256px !important;
}

._mnh-512px {
  min-height: 512px !important;
}

a {
  transition: 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
  letter-spacing: 0px;
}

.hover-spacing {
  display: inline-block;
  position: relative;

  &.-active {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(1) translateY(3px);
      height: 2px;
      bottom: 0;
      left: 0;
      background: $red-400;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0) translateY(3px);
    height: 2px;
    bottom: 0;
    left: 0;
    background: $red-400;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &.white {
    &::after {
      background: #fff;
    }
  }

  &.tpr {
    &::after {
      background: transparent;
    }
  }

  &:hover {
    letter-spacing: 1px;
    // font-weight: 700;

    &::after {
      transform: scaleX(1) translateY(3px);
      transform-origin: bottom left;
    }
  }
}

._cl-blue {
  color: $blue-400 !important;
}

._cl-red {
  color: $red-400;
}

._bgcl-red {
  background: $red-400;
}

._bgcl-blue {
  background: $blue-400;
}

._bdcl-blue {
  border-color: $blue-400 !important;
}

._bdcl-red {
  border-color: $red-400 !important;
}

// Aspect ratios
._aprt-4-3 {
  padding-top: 75%;
}

._w-200px {
  width: 200px !important;
}

._h-72px {
  height: 72px;
}

._h-36px {
  height: 36px;
}

.bio-button {
  transition: 0.35s;
  letter-spacing: 0px;
  font-weight: 300;

  &:hover {
    letter-spacing: 1px;

    // font-weight: 600;
    &.-red {
      // border: 2px solid $red-400;
      background-color: $red-400;
      color: #fff;
    }
  }

  &.-red {
    background: #fff;
    border: 1px solid $red-400;
    color: $red-400;

    &.-active {
      color: #fff;
      background: $red-400;
    }
  }
}

// .v--modal {
//   background: transparent;
// }

#branding div {
  width: 160px;
  height: 36px;

  @media (min-width: $md) {
    width: 256px;
    height: 50px;
  }
}

.sticky {
  position: fixed !important;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;

  span {
    color: $blue-400 !important;
  }
}
