@font-face {
  font-family: 'decovar';
  src: url('/fonts/decovaralpha-vf-webfont.woff2') format('woff2'),
    url('/fonts/decovaralpha-vf-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Frutiger Thai Trad W05 Rg";
  src: url("/fonts/5344484/235d00ed-ec87-4d5c-a3dc-ca5d47e30959.eot?#iefix");
  src: url("/fonts/5344484/235d00ed-ec87-4d5c-a3dc-ca5d47e30959.eot?#iefix") format("eot"), url("/fonts/5344484/1aac4ce3-38b4-405c-8605-3af06c2efb5b.woff2") format("woff2"), url("/fonts/5344484/2f2d3172-8a99-47f0-9001-70a385f2774f.woff") format("woff"), url("/fonts/5344484/7f219f99-44a6-49e7-ae10-5ca998dba34b.ttf") format("truetype");
}

body {
  overflow: hidden;
  overflow-y: auto;
  font-size: 110%;
  font-family: 'Neue Frutiger Thai Trad W05 Rg';
  color: $blue-400;
  background: rgba(0, 0, 0, 0.015);
}

*,
*:focus,
*:hover {
  outline: none !important;
  appearance: none;
}

div,
span {
  font-family: 'Neue Frutiger Thai Trad W05 Rg';
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: 400;
  line-height: 100%;
  outline: none !important;
  user-select: none !important;
}

h1 {
  font-size: 3.5rem;
}

._cs-pt {
  user-select: none !important;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .25s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.min-height-100vh {
  min-height: calc(100vh - 60px); // background: rgba(0, 0, 0, 0.02);
}

// Deprecated due to incompat with older browsers
// ._fdrt-rrv {
//   flex-direction: row-reverse !important;
// }

[lazy] {
  transition: 0.25s;
  transition-property: background-image !important;
}

[lazy=loading] {
  background-position: center center !important;
}

[lazy=loaded] {
  opacity: 1;
  background-size: cover;
}

// Min height
._mnh-128px {
  min-height: 128px !important;
}

._mnh-256px {
  min-height: 256px !important;
}

._mnh-512px {
  min-height: 512px !important;
}

._ff-dcv {
  font-family: 'decovar', 'Neue Frutiger Thai Trad W05 Rg' !important;
}

a {
  transition: 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
  letter-spacing: 0px;
}

.hover-spacing {
  display: inline-block;
  position: relative;

  &.-active {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(1) translateY(3px);
      height: 2px;
      bottom: 0;
      left: 0;
      background: $pink-400;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0) translateY(3px);
    height: 2px;
    bottom: 0;
    left: 0;
    background: $pink-400;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &.white {
    &::after {
      background: #fff;
    }
  }

  &.tpr {
    &::after {
      background: transparent;
    }
  }

  &:hover {
    letter-spacing: 2px;
    // font-weight: 700;

    &::after {
      transform: scaleX(1) translateY(3px);
      transform-origin: bottom left;
    }
  }
}

._cl-blue {
  color: $blue-400 !important;
}

._cl-pink {
  color: $pink-400;
}

._bgcl-pink {
  background: $pink-400;
}

._bgcl-blue {
  background: $blue-400;
}

._bdcl-blue {
  border-color: $blue-400 !important;
}

._bdcl-pink {
  border-color: $pink-400 !important;
}

// Aspect ratios
._aprt-4-3 {
  padding-top: 75%;
}

._w-200px {
  width: 200px !important;
}


._h-72px {
  height: 72px;
}

._h-36px {
  height: 36px;
}

.bio-button {
  transition: 0.35s;
  letter-spacing: 0px;
  font-weight: 300;

  &:hover {
    letter-spacing: 1px;
    font-weight: 600;
  }

  &.-pink {
    background: #fff;
    border: 1px solid $pink-400;
    color: $pink-400;
  }
}

.v--modal {
  background: transparent;
}
