body {
  overflow: hidden;
  overflow-y: auto;
  font-size: 110%;
}

*,
*:focus,
*:hover {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: Kanit;
  font-weight: 400;
  line-height: 100%;
  outline: none !important;
  user-select: none !important;
}

h1 {
  font-size: 3.5rem;
}

._cs-pt {
  user-select: none !important;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .25s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.min-height-100vh {
  min-height: calc(100vh - 60px); // background: rgba(0, 0, 0, 0.02);
}

// Deprecated due to incompat with older browsers
// ._fdrt-rrv {
//   flex-direction: row-reverse !important;
// }

[lazy] {
  transition: 0.25s;
  transition-property: background-image !important;
}

[lazy=loading] {
  background-position: center center !important;
}

[lazy=loaded] {
  opacity: 1;
  background-size: cover;
}

// Min height
._mnh-128px {
  min-height: 128px !important;
}

._mnh-256px {
  min-height: 256px !important;
}

._mnh-512px {
  min-height: 512px !important;
}

@font-face {
  font-family: 'decovar';
  src: url('/fonts/decovaralpha-vf-webfont.woff2') format('woff2'),
    url('/fonts/decovaralpha-vf-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

._ff-dcv {
  font-family: 'decovar' !important;
}

a {
  transition: 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
  letter-spacing: 0px;
}

.hover-spacing {
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0) translateY(3px);
    height: 2px;
    bottom: 0;
    left: 0;
    background: $pink-400;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &.white {
    &::after {
      background: #fff;
    }
  }

  &:hover {
    letter-spacing: 2px;
    font-weight: 700;

    &::after {
      transform: scaleX(1) translateY(3px);
      transform-origin: bottom left;
    }
  }
}

._cl-blue {
  color: $blue-400 !important;
}

._cl-pink {
  color: $pink-400;
}

._bgcl-pink {
  background: $pink-400;
}

// Aspect ratios
._aprt-4-3 {
  padding-top: 75%;
}

._w-200px {
  width: 200px !important;
}
